<%- include('../includes/head.ejs') %>
</head>


<%- include('../includes/nav-left.ejs') %>

<h2><%= info%></h2>

<form class="product-form" action="/<% if (isEdit) { %>change-data<% } else { %>register<% } %>" method="POST">

  <div class="form-control">
    <label for="login">Login</label>
    <input type="text" name="login" id="login" value="<%if(isEdit && user) { %> <%= user.login %> <% } %>" required>
  </div>
  <div class="form-control">
    <label for="password">Hasło</label>
    <input type="password" name="password" id="password" required>
  </div>
    <div class="form-control">
      <label for="passwordRepeat">Powtórz hasło</label>
      <input type="password" name="passwordRepeat" id="passwordRepeat" required>
    </div>
  <div class="form-control">
    <label for="name">Imię</label>
    <input type="text" name="name" id="name" value="<%if(isEdit && user) { %> <%= user.name %> <% } %>" required>
  </div>
  <div class="form-control">
    <label for="surname">Nazwisko</label>
    <input type="text" name="surname" id="surname" value="<%if(isEdit && user) { %> <%= user.surname %> <% } %>" required>
  </div>
<% if (isEdit && user) { %>
<input type="hidden" value="<%= user.id %>" name="userId" id="userId">
<% } %>
  <button class="btn" type="submit">Wyślij</button>
</form>


<%- include('../includes/nav-right.ejs') %>
<%- include('../includes/end.ejs') %>