<%- include('../includes/head.ejs') %>
</head>


<%- include('../includes/nav-left.ejs') %>
<% if(usersList.length > 0) {%>
<table>
  <tr>
    <td>Id</td>
    <td>Imię</td>
    <td>Nazwisko</td>
    <td>Poziom</td>
    <td>Akcja</td>
  </tr>

  <% usersList.forEach(w =>  {%>
  <tr>
    <td id="user<%= w.id %>"><%= w.id %></td>
    <td><%= w.name %></td>
    <td><%= w.surname %></td>
    <td><select id="level">
      <option value="0" <% if(w.level == 0) { %>selected="selected"<% } %> >0</option>
      <option value="1" <% if(w.level == 1) { %>selected="selected"<% } %> >1</option>
      <option value="2" <% if(w.level == 2) { %>selected="selected"<% } %> >2</option>
      <option value="3" <% if(w.level == 3) { %>selected="selected" <% } %>>3</option>
      <option value="4">4</option>
    </select></td>
    <td>
      <input type="button" value="Zmień" onClick="makeUrl('<%=w.id%>')" />
    </td>
    </tr>
  <% })%>

</table>
<% } else { %>
<h2>NIE MA REKORDÓW SPEŁNIAJĄCYCH WARUNEK</h2>
<% } %>
<%- include('../includes/nav-right.ejs') %>
<%- include('../includes/end.ejs') %>


<script>
    function makeUrl(userId) {
        var id = document.getElementById("user"+userId).innerText;
        var newLevel = document.getElementById("level").value;
        window.location.href = '/change-level/'+id+'&'+newLevel;
      }
</script>