<%- include('../includes/head.ejs') %>
</head>


<%- include('../includes/nav-left.ejs') %>
<% if(usersList.length > 0) {%>
<table>
  <tr>
    <td>Akcja</td>
    <td>Id</td>
    <td>Imię</td>
    <td>Nazwisko</td>
    <td>Poziom</td>
  </tr>

  <% usersList.forEach(w =>  {%>
  <tr>
    <td>
      <a href="/delete-user/<%= w.id %>">Usuń</a>
    </td>
    <td><%= w.id %></td>
    <td><%= w.name %></td>
    <td><%= w.surname %></td>
    <td><%= w.level %></td>
  </tr>
  <% })%>

</table>
<% } else { %>
<h2>NIE MA REKORDÓW SPEŁNIAJĄCYCH WARUNEK</h2>
<% } %>
<%- include('../includes/nav-right.ejs') %>
<%- include('../includes/end.ejs') %>