<%- include('../includes/head.ejs') %>
</head>


  <%- include('../includes/nav-left.ejs') %>
        <% if(workersList.length > 0) {%>
  <table>
    <tr>
      <% if(isEdit || isDelete) { %><td></td><%} %>
      <td>Id</td>
      <td>Imię</td>
      <td>Nazwisko</td>
      <td>Płec</td>
      <td>Naz. pan.</td>
      <td>Email</td>
      <td>Kod</td>
    </tr>

          <% workersList.forEach(w =>  {%>
            <tr>
              <% if(isEdit || isDelete) { %>
                <td>
                <%if(isEdit) { %>
                  <a href="/edit-worker/<%= w.id %>">Edytuj</a>
                <% } else if(isDelete) { %>
                  <a href="/delete-worker/<%= w.id %>">Usuń</a>
                <% } %>
                </td>
              <%} %>
              <td><%= w.id %></td>
              <td><%= w.name %></td>
              <td><%= w.surname %></td>
              <td><%= w.sex %></td>
              <td><%= w.surname2 %></td>
              <td><%= w.email %></td>
              <td><%= w.postal %></td>
            </tr>
          <% })%>

  </table>
  <% if(isEdit) { %>
    <a href="/get-workers-edit/<%= page-1 %>"><-</a>
  <% }else if (isDelete) { %>
<a href="/get-workers-delete/<%= page-1 %>"><-</a>
    <% } else { %>
      <a href="/get-workers/<%= page-1 %>"><-</a>
      
  <% } %>
  <%=page+1%>
    <% if(isEdit) { %>
    <a href="/get-workers-edit/<%= page+1 %>">-></a> 
    <% }else if (isDelete) { %>
       <a href="/get-workers-delete/<%= page+1 %>">-></a> 
       <% } else { %> 
        <a href="/get-workers/<%= page+1 %>">-></a> 
        <% } %>
  <% } else { %>
    <h2>NIE MA REKORDÓW SPEŁNIAJĄCYCH WARUNEK</h2>
  <% } %>
  <%- include('../includes/nav-right.ejs') %>
  <%- include('../includes/end.ejs') %>