<%- include('../includes/head.ejs') %>
</head>


  <%- include('../includes/nav-left.ejs') %>

  <div class="form-control">
    <label for="imie">Imie</label>
    <label><%= %></label>
  </div>
  <div class="form-control">
    <label for="nazwisko">Nazwisko</label>
        <label><%= %></label>
  </div>
  <div class="form-control">
    <label for="plec">Płeć</label>
        <label><%= %></label>
  </div>
  <div class="form-control">
    <label for="panienskie">Nazwisko panienskie</label>
        <label><%= %></label>
  </div>
  <div class="form-control">
    <label for="email">Email</label>
        <label><%= %></label>
  </div>
  <div class="form-control">
    <label for="kod">Kod pocztowy</label>
        <label><%= %></label>
  </div>

<%- include('../includes/nav-right.ejs') %>
<%- include('../includes/end.ejs') %>