<%- include('../includes/head.ejs') %>
</head>


  <%- include('../includes/nav-left.ejs') %>

  <h2>Session data</h2>

  

  <% newArray.forEach(w =>  {%>

  <b>Imie: </b> <label><%=w.name%></label>
  <b>Nazwisko: </b><label><%=w.surname%></label>
  <b>Płeć: </b><label><%=w.sex%></label>
  <b>Nazwisko Panieńskie: </b><label><%=w.surname2%></label>
  <b>Email: </b><label><%=w.email%></label>
  <b>Kod pocztowy: </b><label><%=w.postal%></label>

  <% }); %>


  <%- include('../includes/nav-right.ejs') %>
  <%- include('../includes/end.ejs') %>